html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #eee;
  margin: 0;
  font-family: sans-serif;
  background-color: beige;
}

a {
  color: rgb(55, 48, 48);
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.wrapper {
  max-width: 1000px;
  padding: 50px;
  margin: 0 auto;
}

.top {
  text-align: center;
}

.flex-nav ul {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  flex:3;
  background: #e5f5ff;
  padding: 10px;
  list-style-type: none;
}

.flex-nav .icon {
  flex:1;
  padding: 5px;
}

.flex-nav li :hover {
  color:aqua;
}

a:hover {
  color: rgb(97, 86, 86);
}

.toggleNav {
  display: none;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 40px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 15px;
}

ul {
  padding: 40px;
}

.details li {
  background: #e5f5ff;
  list-style-type: none;
  margin: 10px;
  padding: 20px;
}

img {
  width: 100%;
}

.hero {
  display: flex;
}

@media all and (max-width:1000px) {

  .flex-nav ul {
    flex-wrap:wrap;
  }

  .flex-nav li {
    flex:1 1 50%;
  }

  .flex-nav .icon {
    flex:1 1 25%;
  }

}

@media all and (max-width:500px) {

  .flex-nav li {
    flex-basis:100%
  }

  /*Flex Container*/
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  /*Flex Item*/
  .wrapper > * {
    order:9999;
  }

  .flex-nav {
    order: 1;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }

  .flex-nav ul.open {
    display: flex;
  }

  .top {
    text-align: center;
    order: 3;
  }
}